*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: #8CC461;
    width:100%;
    height:100vh;
    display:flex;
   flex-direction: column;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Example for different weights */
h1, h2, h3 {
    font-weight: 500; /* Bold */
}

p, li {
    font-weight: 400; /* Regular */
}
.scoreCont{
    width:800px;
    height:158px;
    border-radius: 13px;
    border:2px solid white;
    display: flex;
    align-items: center;
    padding:0px 20px;
    column-gap: 29px;
    margin:62px auto 0px auto;
    /* margin:62px auto 89px auto; */
}
.score{
    width:139px;
    height:128px;
    border-radius: 9px;
    background-color:white;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.scoreCont ul{
    width:426px;
}
.scoreCont ul h1{
    font-size: 40px;
    font-weight: 600;
    color:white;
}
#compPoint,#userPoint{
    font-size: 68px;
    font-weight: 700;
    width:79px;
    height:63px;
}
.title{
    width:103px;
    color:#656565;
}
.symbol{
    display: flex;
    flex-direction: column;
    margin:auto auto;
    align-items: center;

}
.symbol button{
    width: 110px;
    height:110px;
    border-radius: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#rock img{
    width:80px;
    height:58.51px;
}
#paper img{
    width:72px;
    height:72px;
}
#scissor img{
    width:37px;
    height:53.5px;
}
#rock{
    border:16px solid #0074B6;
}
#scissor{
    border:16px solid #BD00FF;
}
#paper{
    border:16px solid #FFA943;
    margin-top: 110px;
    position:relative;
    bottom:73px;
}
.line1{
    display:flex;
    align-items: center;
}
.line1 span{
    width:101px;
    height:15px;
    background-color: #000000A3;
    
}
.line2{
    width: 101px;
    height: 15px;
    background-color: #000000A3;
    transform: rotate(124deg);
    position: relative;
    top:28px;
    left:54px;

}
.line3{
    width: 101px;
    height: 15px;
    background-color: #000000A3;
    transform: rotate(59deg);
    position:relative;
    right:55px;
    top:14px;
    
}
.rules{
    background-color: #004429;
    width:278px;
    height:325px;
    position: absolute;
    right:25px;
    margin-right: 25px;
    bottom: 20px;
    border-radius: 13px;
    border:7px solid #FFFFFF;
    transform: translate(0, -60px);
    color:#FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: justify;
}
#ruleTitle{
    font-size: 29px;
    font-weight: 500;
    line-height: 33.98px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
#ruleList{
    line-height: 15.23px;
    position:relative;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-top:10px;
    

}
.rules ul {
    list-style: none; 
    padding-left: 20px; 
    max-width: 240px;
}

.rules ul li {
    position: relative; 
    margin-bottom: 10px;
    padding-left: 20px; 
}

.rules ul li::before {
    content: "";
    width: 8px; 
    height: 8px; 
    background-color: #FFD700; 
    position: absolute;
    left: 0; 
    top: 8px;
    display: inline-block; 
}
#crossBtn{
    width:54px;
    height:54px;
    background-color:#FF0000 ;
    color:white;
    border:5px solid white;
    border-radius: 54px;
    font-size: 35px;
    font-weight: 400;
    position:absolute;
    top:-32px;
    left:238px;
    font-family: 'Dangrek', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
@keyframes greenPulse {
    0% {
        box-shadow: 
            0 0 0 20px rgba(40, 154, 39, 0.8),  /* Inner, darkest green */
            0 0 0 40px rgba(44, 150, 41, 0.7),  /* Middle, darker green */
            0 0 0 60px rgba(102, 178, 72, 0.4);  /* Outer, smaller but larger than middle */
    }
    50% {
        box-shadow: 
            0 0 0 30px rgba(40, 154, 39, 0.5),  
            0 0 0 55px rgba(44, 150, 41, 0.4),  
            0 0 0 80px rgba(102, 178, 72, 0.2);  
    }
    100% {
        box-shadow: 
            0 0 0 40px rgba(40, 154, 39, 0),  
            0 0 0 70px rgba(44, 150, 41, 0),  
            0 0 0 100px rgba(102, 178, 72, 0);  
    }
}
.resultInterface{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 39px;
}

#userSelection{
    width: 140px;
    height: 140px;
    border-radius: 50%; 
    background-color: white;
}
#compSelection{
    width:140px;
    height:140px;
    border-radius: 140px;
    border:solid 16px #FFA943;
    background-color: white; 
}
.choice{
    display: flex;
    justify-content: center;
    column-gap: 90px;
}
/* .status{
    column-gap: 352px;
    display: flex;
    justify-content: center;
} */
.status span{
    width: 172px;
    height:16px; 
    font-size: 17px;
    color:white;
    font-weight: 600;
    display:flex;
    justify-content: center;
}
.resultCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.buttonpanel{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    column-gap: 32px;
}
#nextBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:119px;
    height:40px;
    border-radius: 10px;
    border:2px solid #FFFFFF; 
    font-size: 21px;
    font-weight:600;
    background-color: #D9D9D900;
    color: #FFFFFF;
    cursor: pointer;

}
#newRuleBtn{
    width:119px;
    height:40px;
    border-radius: 10px;
    border:2px solid #FFFFFF; 
    font-size: 21px;
    line-height: 24.61px;
    font-weight:600;
    background-color: #D9D9D900;
    color: #FFFFFF;
    cursor: pointer;

}
#winSpan{
    height:36px;
    font-weight: 800;
    font-size: 39px;
    color:white;
}
#againSpan{
    margin:11px 0px 15px 0px;
    height:31px;
    font-size: 25px;
    font-weight: 800;
    color:white;
}
.playAgain{
    width:174px;
    height:44px;
    border-radius: 9px;
    background-color: white;
    color:#6B6B6B;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.finalInterface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status{
    display:flex;
    margin:0px auto;
    column-gap: 318px;
    
}
/* #userSel{
    margin-left: 43px;
}
#compSel{
 margin-left: -37px;
} */
.finalStatus{
    display: flex;
    justify-content: center;
}
.finalStatus span{
    position: absolute;
}
#stars{
    margin-top: 86px;
}
#stars img{
    width: 504px;
    height: 257px;
}
#cup{
    margin-top: 189px;
}
#cup img{
    width: 200.43px;
    height:201px;
}
.finaltext{
    display: flex;
    flex-direction: column;
    margin-top: 422px;
    row-gap: 25px;
}
.finaltext span{
    font-weight: 600;
    color: white;
}
.hurray{
    height: 86px;
}
.won{
    height: 48px;
}
.reset{
    display: flex;
    justify-content: center;
}

